* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.mainContainer {
  background-color: #f6d7b0;
  height: 100vh;
}

.flexContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
#title {
  text-align: center;
}

.diceImage {
  padding: 5px;
  width: 150px;
  height: auto;
}

#crapsTable {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  align-items: center;
  justify-content: center;
  background-color: #086609;
}

#rollButton {
  background-color: #990030;
  border-radius: 15%;
  height: 100px;
  width: 150px;
  text-decoration: none;
  font-size: 3rem;
  color: white;
}

#rollButton:hover {
  background-color: #700225;
  cursor: pointer;
}

.numberButton {
  background-color: #086609;
  color: white;
  font-size: 3rem;
  border-color: white;
  border-radius: 15%;
  height: 100px;
  width: 100px;
}

.boardNumbers, .passLine{
  width: 200px;
  height: auto;
}

.boardNumbers:hover,
.passLine:hover {
  cursor: pointer;
}

.boardBet {
  text-align: center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #crapsTable {
    background-color: #04aa6d;
  }

  .numberButton {
    background-color: #04aa6d;
    color: white;
    font-size: 2rem;
    border-color: white;
    border-radius: 15%;
    height: 40px;
    width: 40px;
  }
  .diceImage {
    padding: 5px;
    width: 100px;
    height: auto;
  }
  #rollButton {
    background-color: #990030;
    border-radius: 15%;
    height: 65px;
    width: 75px;
    text-decoration: none;
    font-size: 2rem;
    color: white;
  }
  .boardNumbers {
    width: 75px;
    height: auto;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
